.container
  .row
    .title-bar
      %h4 Profile
  .row.justify-content-center
    = @user.name
  %br
  .row.justify-content-center    
    = gravatar_for @user
  %br
  .row.justify-content-center 
    - if @user.admin?
      .btn-group{"aria-label" => "Basic example", :role => "group"}
        %button.btn.btn-light= link_to 'New Product', products_path
        %button.btn.btn-light= link_to 'Users', users_path
        %button.btn.btn-light= link_to 'Orders'

