.container
  .row
    .title-bar
      %h4 Cart
- if @order_item.present? && @order_item.errors.any?
  %ul
    - @order_item.errors.full_messages.each do |msg|
      %li= msg
- if @order_items.size>0
  - @order_items.each do |item|
    .container
      .row
        .col-sm-3
          = image_tag((item.product.photo), :class => "cart-photo")
        .col-sm-6
          %h3= item.product.title
          %p= item.product.description
          %p= "$#{item.product.price}"
        .col-sm-3
          = form_for(item, remote: true) do |f|
            = f.hidden_field :product_id, value: item.product.id
            .form-group
              .form-row
                = f.text_field :quantity, value: item.quantity.to_i, min: 1, class: 'form-control col-sm-2 form-control-sm'
                %span Total: $#{item.total_price}
            .btn-group
              = f.submit "Update Quantity", class: 'btn btn-success btn-sm'
              = link_to "Delete", item, method: :delete, remote: true, class: 'btn btn-danger btn-sm'
      %hr
  .container.text-right
    %p Shipping Tax: $#{current_order.shipping}
    %p Total Order: $#{current_order.total}
    .row.btn-group
    -# = link_to "Empty cart", carts_path(current_order.destroy),method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger btn-sm'
  = form_for carts_path  do |f|
    .container.text-right
      = f.submit "Send Order", class: 'btn orange-btn btn-sm'
- else
  .container.text-center
    %h3 Your <i class="fas fa-shopping-cart"></i> is empty
    =link_to "Buy now", root_path, class: "btn orange-btn"
