- @products.each do |product|
  .col-sm-3.product-food{"data-product-price" => "#{product.price}"}
    .card
      = image_tag((product.photo), :class => "card-img-top")
      .card-body.text-center
        %h5.card-title= product.title
        %h6= product.description
        %p.card-text
          $#{product.price}
        -if logged_in?
          = form_for(@order_item, remote: true) do |f|
            = f.hidden_field :product_id, value: product.id
            = f.hidden_field :quantity, value: 1, min: 1
            = f.submit "Add to cart", class: 'btn orange-btn btn-sm'

