- @products.each do |product|
  %tr
    %th= product.id
    %td= product.title
    %td= product.description
    %td
      $#{product.price}
    %td
      %p.card-text.text-center
        = link_to 'Show', product_path(product)
        = link_to 'Edit', edit_product_path(product)
        = link_to 'Delete', product_path(product), |
          method: :delete,                         |
          data: { confirm: 'Are you sure?' }       |