.container.text-center
  .row
    .title-bar
      %h4 Product Detail
  %p
    %strong Title:
    = @product.title
  %p
    %strong Description:
    = @product.description
  %p
    %strong Price:
    = @product.price
  %p
    %hr
    %strong Photo:
  = image_tag((@product.photo), :class => "show-photo")
  %p
  %hr
    = link_to 'Back', products_path, class: "btn orange-btn sm"
