/ Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
    %nav.navbar.navbar-expand-md.navbar-dark
      %a.navbar-brand{:href => "/"}
        .logo
        %p.lg-txt 
          Eureka 
          %br Caffe
      %button.navbar-toggler{"data-target" => "#navbar7", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbar7.navbar-collapse.collapse.justify-content-stretch
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to "HOME",    root_path, class: "nav-link"
          %li.dot-hide
            %p.dot ▪
          %li.nav-item
            = link_to "ABOUT",    about_path, class: "nav-link"
          %li.dot-hide
            %p.dot ▪
          %li.nav-item
            = link_to "SERVICE",    service_path, class: "nav-link"
          %li.dot-hide
            %p.dot ▪
          %li.nav-item
            = link_to "BLOG",    blog_path, class: "nav-link"
          %li.dot-hide
            %p.dot ▪
          %li.nav-item
            = link_to "CONTACT",    contact_path, class: "nav-link"
            %li.dot-hide
              %p.dot ▪
          - if logged_in?
            %li.dropdown.nav-item
              %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "#"}
                ACCOUNT
                %b.caret
              %ul.dropdown-menu
                %li= link_to "PROFILE", current_user
                %li= link_to "SETTINGS", '#'
                %li
                  = link_to "LOGOUT", logout_path, method: :delete
          - else
            %li.nav-item
              = link_to "LOGIN", login_path, class: "nav-link"
  .container
    %h1.display-3.jumb-title Ordering food
    .row.im-centered
      .col-xs
        %svg{:height => "5", :width => "90"}
          %line{:style => "stroke:rgb(255, 145, 0);stroke-width:2", :x1 => "90"}
      .col-xs
        %i.fas.fa-utensils.jumb-title
      .col-xs
        %svg{:height => "5", :width => "90"}
          %line{:style => "stroke:rgb(255, 145, 0);stroke-width:2", :x1 => "90"}
    %p.jumb-title First we eat, then we do everything else.
